/* Octotree Extension */

.octotree-sidebar.octotree-github-sidebar {
    .octotree-toggle {
        background-color: $dropdown-bg !important;
        border-color: $border-color !important;
        top: 90vh !important;

        &,
        > span,
        > .octotree-toggle-icon::before {
            color: $link-color !important;
        }
    }

    .octotree-announcement {
        background-color: $comment-bg !important;
        color: $text-color !important;
    }

    .octotree-views {
        background-color: $dropdown-bg !important;
        border: 0 solid !important;
        border-right: 1px solid $border-color !important;
        .octotree-view {
            .octotree-view-header {
                background-color: $head-bg !important;
                border: 0 solid !important;
                border-right: 1px solid $border-color !important;
            }
            .octotree-view-body {
                .octotree-settings-heading {
                    color: $bright-text-color !important;
                }
                label {
                    color: $text-color !important;
                }
                .jstree-container-ul {
                    .jstree-closed > .jstree-ocl::before,
                    .jstree-open > .jstree-ocl::before {
                        color: $bright-text-color !important;
                    }
                    .jstree-node {
                        .jstree-wholerow-clicked {
                            background: $dropdown-bg-active !important;
                        }
                        .jstree-wholerow-hovered {
                            background: $dropdown-bg-active !important;
                        }
                        .jstree-anchor {
                            color: $link-color !important;
                        }
                    }
                }
            }
        }
        .octotree-settings-view {
            .octotree-view-body {
                color: $bright-text-color !important;
            }
        }
    }

    .octotree-footer.octotree-footer-auth {
        background-color: $bg-color !important;
        border-color: $border-color !important;
        color: $text-color !important;
    }
}
